body{margin:0;overflow:hidden;background:#fff;}
canvas{display:block;}
#upload, #photoBtn{
  position:absolute;top:10px;z-index:10;margin-right:10px;
}
#upload{left:10px;}
#photoBtn{left:150px;}
video{position:absolute;top:50px;left:10px;width:200px;height:auto;z-index:10;}
